<?xml version="1.0" encoding="UTF-8"?>

    <configuration>
    <!-- <property resource="logback.properties" /> -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%X{EagleEye-TraceID} %d [%t] %p %logger - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>~/.logs/logfile.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%X{EagleEye-TraceID} %d [%t] %p %logger{0} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/logs/logfile.-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--<logger name="org.springframework" level="DEBUG"/>-->
    <!--<logger name="org.apache" level="DEBUG"/>-->
    <!--<logger name="org.mybatis.spring" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <!-- <appender-ref ref="ErrorFile"/> -->
    </root>
</configuration>
